apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: victoriametrics
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://victoriametrics.github.io/helm-charts/
    chart: victoria-metrics-operator
    targetRevision: 0.57.1
    helm:
      version: v3
      parameters:
        - name: rbac.pspEnabled
          value: "false"
        - name: operator.prometheus_converter_add_argocd_ignore_annotations
          value: "true"
  destination:
    server: https://kubernetes.default.svc
    namespace: victoriametrics
  # https://docs.victoriametrics.com/helm/victoriametrics-operator/#argocd-issues
  syncPolicy:
    syncOptions:
    - RespectIgnoreDifferences=true
  ignoreDifferences:
    - group: ""
      kind: Secret
      name: victoriametrics-victoria-metrics-operator-validation
      namespace: victoriametrics
      jsonPointers:
        - /data
    - group: admissionregistration.k8s.io
      kind: ValidatingWebhookConfiguration
      name: victoriametrics-victoria-metrics-operator-admission
      jqPathExpressions:
      - '.webhooks[]?.clientConfig.caBundle'
