apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/zoetrope/k8s-hands-on.git
    targetRevision: main
    path: manifests/loki
  destination:
    server: https://kubernetes.default.svc
    namespace: loki
  syncPolicy:
    automated: {}
