name: CI
on:
  push:
    branches:
      - 'main'
env:
  go-version: 1.22
jobs:
  deploy:
    name: Push the latest image
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.go-version }}
      - run: docker build -t ghcr.io/zoetrope/todo:latest ./todo
      - name: Login to ghcr.io
        run: echo ${{ secrets.CR_PAT }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin
      - run: docker push ghcr.io/zoetrope/todo:latest
